{% extends 'content.html' %}

{% block head_content %}
<title>Create Quiz</title>
{% endblock %}

{% block content %}
<div class="all-width content">
  <div class="header-with-button">
    <h1>Create Quiz</h1>
  </div>
  <div class="list-body">
      <div class="field">
        <label class="label" for="title">Title</label>
        <p class="control has-icons-left">
          <input class="input" type="text" name="title" id="title">
          <span class="icon is-small is-left">
            <i class="fa-solid fa-user"></i>
          </span>
        </p>
      </div>
      
      <div>
          <button id="add_field" class="button">+</button>
      	<div id="fields">
        </div>  
      </div>
  </div>
</div>

<script>
    const button = document.getElementById('add_field');
    const fields = document.getElementById('fields');
    button.onclick = () => {
        fields.innerHTML += `
        	<div class="field">
        	<label class="label" for="name">Name</label>
        	<p class="control has-icons-left">
          	<input class="input" type="text" name="name" id="name">
          	<span class="icon is-small is-left">
	            <i class="fa-solid fa-user"></i>
          </span>
    	    </p>
      	</div>`
    }
</script>
{% endblock %}