{% extends 'content.html' %}

{% block head_content %}
<title>Create User</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma-tooltip/1.2.0/bulma-tooltip.min.css"
  integrity="sha512-eQONsEIU2JzPniggWsgCyYoASC8x8nS0w6+e5LQZbdvWzDUVfUh+vQZFmB2Ykj5uqGDIsY7tSUCdTxImWBShYg=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block content %}
<div class="all-width content">
  <div class="header-with-button">
    <h1>Create User</h1>
  </div>
  <div class="list-body">
    <form action="create" method="post" enctype="multipart/form-data">
      <div class="field">
        <label class="label" for="name">Name</label>
        <p class="control has-icons-left">
          <input class="input" type="text" name="name" id="name">
          <span class="icon is-small is-left">
            <i class="fa-solid fa-user"></i>
          </span>
        </p>
      </div>

      <div class="field">
        <label class="label" for="email">Email</label>
        <p class="control has-icons-left">
          <input class="input" type="email" name="email" id="email">
          <span class="icon is-small is-left">
            <i class="fa-solid fa-user"></i>
          </span>
        </p>
      </div>

      <div class="field">
        <label class="label" for="password">Password</label>
        <p class="control has-icons-left">
          <input class="input" type="password" name="password" id="password">
          <span class="icon is-small is-left">
            <i class="fa-solid fa-lock"></i>
          </span>
        </p>
      </div>

      <div class="field">
        <label class="label" for="confirm-password">Confirm Password</label>
        <p class="control has-icons-left">
          <input class="input" type="password" name="confirm-password" id="confirm-password">
          <span id="tooltip" class="icon is-small is-left has-tooltip-arrow has-tooltip-bottom has-tooltip-danger"
            data-tooltip="Passwords does not match!">
            <i class="fa-solid fa-lock"></i>
          </span>
        </p>
      </div>

      <input id="submit" class="button" type="submit" disabled value="Create">
    </form>
  </div>
</div>

<script>
  const password = document.getElementById('password');
  const confirmPassword = document.getElementById('confirm-password');
  const tooltip = document.getElementById('tooltip');
  const submit = document.getElementById('submit');

  confirmPassword.onkeyup = () => {
    if (password.value != confirmPassword.value) {
      tooltip.classList.add('has-tooltip-active')
      submit.disabled = true;
    } else {
      tooltip.classList.remove('has-tooltip-active')
      submit.disabled = false;
    }
  }
</script>
{% endblock %}