<nav id="navbar" class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="{{ url_for('static', filename='img/logo.png') }}" width="112" height="28">
    </a>
  </div>

  <div id="navbar-menu" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Home
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-item navbar-link" href="/quiz">
          Quiz
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="/quiz/answer-list">
            Opened
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="/quiz/results">
            Results
          </a>
        </div>
      </div>

      <a class="navbar-item" href="/user">
        Users
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        {% if render_login_button() %}
        <a class="navbar-item navbar-link" href="{{ url_for('login.logout') }}">
          Log out
        </a>
        {% else %}
        <!-- gambiarra forte -->
        {% if not check_route(url_for(request.endpoint)) %}
        <meta http-equiv='refresh' content='0; URL={{ url_for("login.logout") }}'>
        {% endif %}
        {% endif %}

        <div class="navbar-dropdown">
          <a class="navbar-item" href="/data">
            Data
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="/about">
            About
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>